<div ng-controller="StatusCtrl">
  <div class="row status">
    <h4>Jonnepeber's current status</h4>
    <div class="col-sm-4">
      <p><span class="glyphicon glyphicon-apple icon-big icon-{{status.status}}"></span></p>
    </div>
    <div class="col-sm-8">
      <ul>
        <li>{{status.text}}</li>
        <li>Estimated time to next watering: {{estimation}}h</li>
      </ul>
    </div>
  </div>
</div>

<div ng-controller="ChartCtrl">
  <div class="row">
    <h4>Soil moisture</h4>
    <canvas id="line" class="chart chart-line" chart-data="moistureData" chart-labels="moistureLabels" chart-legend="true" chart-series="moistureSeries"</canvas>
  </div>

  <div class="row">
    <h4>Bucket temperature</h4>
    <canvas id="line" class="chart chart-line" chart-data="temperatureData" chart-labels="temperatureLabels" chart-legend="true" chart-series="temperatureSeries"</canvas>
  </div>
</div>